body {
    font-family: Arial, sans-serif;
    background-color: #131518; /* Black background color for the body */
    color: white; /* For better readability on a black background */
    background: rgb(30,33,33);
    background: -moz-linear-gradient(145deg, rgba(30,33,33,1) 0%, rgba(68,75,75,1) 50%, rgba(84,94,94,1) 100%);
    background: -webkit-linear-gradient(145deg, rgba(30,33,33,1) 0%, rgba(68,75,75,1) 50%, rgba(84,94,94,1) 100%);
    background: linear-gradient(145deg, rgba(30,33,33,1) 0%, rgba(68,75,75,1) 50%, rgba(84,94,94,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e2121",endColorstr="#545e5e",GradientType=1);
}

nav {
    background-color: transparent;
    color: white;
    padding: 10px 0;
    background: rgb(30,33,33);
    background: -moz-linear-gradient(145deg, rgba(30,33,33,1) 0%, rgba(68,75,75,1) 50%, rgba(84,94,94,1) 100%);
    background: -webkit-linear-gradient(145deg, rgba(30,33,33,1) 0%, rgba(68,75,75,1) 50%, rgba(84,94,94,1) 100%);
    background: linear-gradient(145deg, rgba(30,33,33,1) 0%, rgba(68,75,75,1) 50%, rgba(84,94,94,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1e2121",endColorstr="#545e5e",GradientType=1);
    border: 3px solid linear-gradient(325deg, rgba(30,33,33,1) 0%, rgba(68,75,75,1) 50%, rgba(84,94,94,1) 100%);
    border-radius: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px; /* Padding to increase clickable area */
    display: block; /* For padding to work correctly */
    border-bottom: 2px solid rgba(0,125,50, 0); /* Green line below the hovered item */
}

nav ul li a:hover {
    background-color: #1c1c1c; /* Darker gray for hover */
    border-bottom: 2px solid rgba(0,125,50, 1); /* Green line below the hovered item */
}

h1 {
    text-align: center;
}

#upload-form {
    text-align: center;
}

#scatterPlot {
    width: auto;
    max-width: 80%; /* Maximum width you desire */
    margin: 0 auto; /* Centers the canvas if it's smaller than max-width */
}

.chart-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Creates three columns */
    grid-gap: 1%; /* Space between charts */
    padding: 10px;
    max-width: 80%; /* Full width if desired */
    margin: auto; /* Centers the grid in the parent */
}

.chart-item {
    background: rgb(110, 110, 110);
    border: 2px solid #000000; /* Optional border */
    border-radius: 10px;
    padding: 10px;
}

canvas {
    width: 100% !important;
    height: auto !important; /* Makes canvas responsive */
}

/* Media Queries for Responsive Adjustments */
@media (max-width: 600px) {
    nav ul li a {
        font-size: 12px; /* Smaller font size for nav links on smaller screens */
    }

    .chart-grid {
        grid-template-columns: 1fr; /* Stacks charts in a single column */
        padding: 5px;
    }

    .chart-item canvas {
        height: 150px; /* Adjust the height of the canvas for smaller screens */
    }
}

@media (min-width: 601px) {
    .chart-item canvas {
        height: 300px; /* Adjust height of the canvas for larger screens */
    }
}
